<div class="multi-select">
  <textarea class="form-control multi-select-container" ng-focus="onFocus()" readonly></textarea>
  <div class="multi-select-dropdown hide">
    <div class="multi-select-filters" ng-show="showFilters">
      Select: <span class="multi-select-filter">All</span> <span class="multi-select-filter">None</span>  
    </div>
    <ul>
      <li class="multi-select-option" ng-repeat="value in values">
        <a class="multi-select-option-link" href="javascript:;" ng-click="selectOption(value)">
          {{value.label}}
        </a>
      </li>
    </ul>
    <div class="multi-select-other-container" ng-show="showOther">
      <input type="text" class="form-control multi-select-other" placeholder="Other" ng-model="other" ng-blur="doOther()">
    </div>
  </div>
</div>
